body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, rgba(40, 195, 246, 0.819), rgb(13, 15, 16));
    color: #f5f6f7;
}

.clock {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #31eef8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(36, 216, 240, 0.5);
}

#time {
    font-size: 48px;
    letter-spacing: 2px;
}
